body {
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  letter-spacing: 1px;
  background: orange;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}